In [2]:
import pandas as pd
csv = pd.read_csv("Beast.csv")
csv

     Name                  Rank  Score_board  Roll_no           Gun    Squad
0   Beast                Heroic            1       20           AWM    Panda
1   Devil           Grandmaster            2       21         M1887      UNB
2   Viper  International Master            3       22           M14  Mortals
3   Ninja               Bronze            31       23            Ar      UNB
4     Don                Silver           21       24         Famas  Mortals
5   Badal                  Gold           23       25           Lmg   Unique
6   Jetha               Bronze            12       26            AK      UNB
7   Tarak                  Gold           23       27         Groza    Panda
8   Bhide               Bronze           312       28           M14  Mortals
9   Popat  International Master           24       29         Melee      UNB
10   Hati                Heroic          234       30           Smg    Panda
11  Sodhi               Bronze             3       31           P90   Unique
12  Abdul           Grandmaster          342       32          Scar  Mortals
13   tapu                  Gold          321       33      Thompson  Mortals
14   goli                Heroic          121       34      Launcher    Panda
15   gogi                Heoric           23       35  Desert Eagle  Mortals
16  pinku               Bronze           323       36          Mp40    Panda
17   sonu          Grand Master          223       37        vector      UNB
18   iyer  International Master          111       38        Sniper      UNB

# If i want only the index number

In [9]:
# This will shoe the index number of our csv file
csv.index

# This will shoe all the names of the columns of our csv file
# lets get the names of the column
csv.columns

Index(['Name', 'Rank', 'Score_board', 'Roll_no', 'Gun', 'Squad'], dtype='object')

# If I need to find the minimum value, aximum value, Average, mean.....

In [11]:
csv.describe()

       Score_board    Roll_no
count    19.000000  19.000000
mean    113.315789  29.000000
std     131.843364   5.627314
min       1.000000  20.000000
25%      16.500000  24.500000
50%      24.000000  29.000000
75%     228.500000  33.500000
max     342.000000  38.000000