# Replace

In [2]:
import pandas as pd
var = pd.read_csv("Beast.csv")
var

,No.,Symbol,Security,Today - Volume,Avg. Volume,Change
0,1,ELECTHERM,Electrotherm (India) Limited,473907,9547,50.110003
1,2,NBIFIN,N. B. I Industrial Finance Company,5754,154,37.202586
2,3,HINDCON,Hindcon chemicals Limited,304759,9248,32.953450
3,4,GKWLIMITED,GKW Limited,21375,711,30.049203
4,5,21STCENMGM,21st century Management Services,110375,3879,31.049203
5,6,ALPHAGEO,Alphageo (india) Limited,1,8356,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,1,8357,21.528002
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1,73134,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India),1,87775,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,1,87776,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,1,38574,15.555297
11,12,PODDARHOUS,Poddar Housing and Development,1,3012,15.283833
12,13,LINC,Linc Limited,60551,4076,14.853673
13,14,LINC123,Liinc Limited123,60550,4075,15.856735

In [5]:
# var.replace(to_replace=1, value=22)

# Even we can write numeric or string values also 
# var.replace(to_replace=1, value="Python")  # this will also work

# let suppose we want to replace the serial number [it will include the repeating numbers also {such as we have number = 1 in Avg.Volumn column of our csv file}] [if the repeating numbers are matching the list we provided]

In [13]:
var.replace({"Symbol": '[A-Z]'}, 22, regex = True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_11652\2829084204.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  var.replace({"Symbol": '[A-Z]'}, 22, regex = True)

,No.,Symbol,Security,Today - Volume,Avg. Volume,Change
0,1,22,Electrotherm (India) Limited,473907,9547,50.110003
1,2,22,N. B. I Industrial Finance Company,5754,154,37.202586
2,3,22,Hindcon chemicals Limited,304759,9248,32.953450
3,4,22,GKW Limited,21375,711,30.049203
4,5,22,21st century Management Services,110375,3879,31.049203
5,6,22,Alphageo (india) Limited,1,8356,27.852613
6,7,22,Uniphos Enterprises Limited,1,8357,21.528002
7,8,22,Jagsonpal Pharmaceuticals Limited,1,73134,17.801420
8,9,22,SKM Egg Products Export (India),1,87775,18.801420
9,10,22,Swelect Energy Systems Limited,1,87776,16.938733
10,11,22,Nahar Poly Films Limited,1,38574,15.555297
11,12,22,Poddar Housing and Development,1,3012,15.283833
12,13,22,Linc Limited,60551,4076,14.853673
13,14,22,Liinc Limited123,60550,4075,15.856735

# replace using method

In [16]:
var.replace(1, method="ffill") # bfill is also possible

C:\Users\ACER\AppData\Local\Temp\ipykernel_11652\1202598048.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1, method="ffill") # bfill is also possible

,No.,Symbol,Security,Today - Volume,Avg. Volume,Change
0,1,ELECTHERM,Electrotherm (India) Limited,473907,9547,50.110003
1,2,NBIFIN,N. B. I Industrial Finance Company,5754,154,37.202586
2,3,HINDCON,Hindcon chemicals Limited,304759,9248,32.953450
3,4,GKWLIMITED,GKW Limited,21375,711,30.049203
4,5,21STCENMGM,21st century Management Services,110375,3879,31.049203
5,6,ALPHAGEO,Alphageo (india) Limited,110375,8356,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,110375,8357,21.528002
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,110375,73134,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India),110375,87775,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,110375,87776,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,110375,38574,15.555297
11,12,PODDARHOUS,Poddar Housing and Development,110375,3012,15.283833
12,13,LINC,Linc Limited,60551,4076,14.853673
13,14,LINC123,Liinc Limited123,60550,4075,15.856735

# replace with limit:

In [19]:
# Here only 2 datas will be changed
var.replace(1, method="ffill", limit=2)

C:\Users\ACER\AppData\Local\Temp\ipykernel_11652\2004294401.py:2: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1, method="ffill", limit=2)

,No.,Symbol,Security,Today - Volume,Avg. Volume,Change
0,1,ELECTHERM,Electrotherm (India) Limited,473907,9547,50.110003
1,2,NBIFIN,N. B. I Industrial Finance Company,5754,154,37.202586
2,3,HINDCON,Hindcon chemicals Limited,304759,9248,32.953450
3,4,GKWLIMITED,GKW Limited,21375,711,30.049203
4,5,21STCENMGM,21st century Management Services,110375,3879,31.049203
5,6,ALPHAGEO,Alphageo (india) Limited,110375,8356,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,110375,8357,21.528002
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1,73134,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India),1,87775,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,1,87776,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,1,38574,15.555297
11,12,PODDARHOUS,Poddar Housing and Development,1,3012,15.283833
12,13,LINC,Linc Limited,60551,4076,14.853673
13,14,LINC123,Liinc Limited123,60550,4075,15.856735

In [23]:
# This will replace the actual data
var.replace(1, method="ffill", limit=2, inplace = True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_11652\755707380.py:2: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1, method="ffill", limit=2, inplace = True)

In [22]:
var

,No.,Symbol,Security,Today - Volume,Avg. Volume,Change
0,1,ELECTHERM,Electrotherm (India) Limited,473907,9547,50.110003
1,2,NBIFIN,N. B. I Industrial Finance Company,5754,154,37.202586
2,3,HINDCON,Hindcon chemicals Limited,304759,9248,32.953450
3,4,GKWLIMITED,GKW Limited,21375,711,30.049203
4,5,21STCENMGM,21st century Management Services,110375,3879,31.049203
5,6,ALPHAGEO,Alphageo (india) Limited,110375,8356,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,110375,8357,21.528002
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,110375,73134,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India),110375,87775,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,1,87776,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,1,38574,15.555297
11,12,PODDARHOUS,Poddar Housing and Development,1,3012,15.283833
12,13,LINC,Linc Limited,60551,4076,14.853673
13,14,LINC123,Liinc Limited123,60550,4075,15.856735